<div class="container-fluid">
   <div class="row">
        <div class="col-md-12">
          <%= link_to 'Hindsight bias', {controller: 'second', action: 'hindsight'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>
      </div>
</div>