<div class="container-fluid">
   <div class="row">
        <div class="col-md-12">
          <%= link_to 'Hindsight bias', {controller: 'second', action: 'hindsight'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>
      </div>
</div>

</br></br>

1. Overconfidence bias</br>
2. Sunk cost bias</br>
3. Availability bias</br>
4. Confirmation bias</br>
5. Hindsight bias</br>
6. Egocentric bias - You attribute the success or failure to yourself</br></br>

Framing the problem</br>
The same problem can be framed as an opportunity or as a risk. Framing the reward vs framing the pain</br></br>

