<div class="container-fluid">
   <div class="row">
        <div class="col-md-12">
          <%= link_to 'Hindsight bias', {controller: 'second', action: 'hindsight'}, {class:'btn btn-primary btn-block', id:'phase-button'} %>
        </div>
      </div>
</div>

</br></br>
Book (Audio):The Great Courses - Critical decision making</br></br>

Individual decision making</br>
Team decision making</br>
Group (ie. country) decision making</br></br>


1. Overconfidence bias</br>
2. Sunk cost bias</br>
3. Availability bias</br>
4. Confirmation bias</br>
5. Hindsight bias</br>
6. Egocentric bias - You attribute the success or failure to yourself</br>
7. Anchoring bias</br></br>

Framing the problem</br>
The same problem can be framed as an opportunity or as a risk. Framing the reward vs framing the pain</br></br>

Frameworks are useful for simplifying problems and help deal with ambiguity. BUT we have to be careful not to oversimplify stuff</br></br>

Intuition is a way to arrive to a solution without a process. Always try to reverse engineer intuition. Intuition is association to previous similar experiences, and might be wrong in many situations</br></br>

Decision by analogy is very common. Trying to compare past situations to the current one. Make a list of the similarities and differences between both situations.</br></br>

When are the masses smarter than the individuals?</br>
1. Representation of diverse expertise, disciplines, perspectives</br>
2. Decentralization. Individuals must be dispersed and have local and specific knowledge</br>
3. Aggregation. Aggregate all the individual opinions</br>
4. Independence. Not being able to sway or influence others - this is most commmonly violated. Social pressure emerges.</br>

For more details buy book: The wisdom of crowds</br></br>

Freeriding problem: When everyone is responsible, no one is responsible.</br></br>

Only high status roles, have the courage to share private information.</br></br>

Information filtering. For x number of reasons information is lost up or down the funnel.</br></br>


Define your process: Decide how you're going to decide from now on</br></br>

Council- Who's going to be in the meeting?</br>
Context - Is it in an offsite</br>
Communication- Who will moderate and how are ideas going to be pitched and discussed?</br>
Control - Who's going to make the decision? Consensus, voting, etc</br></br>

Pre-mortem</br>
How will this fail</br>
What are all the paths that will lead us to that failure</br>
How to react to that failure</br>
Post-mortem</br></br>

Affective vs cogntive disagreement. </br>
The leader has to make sure that the level of cognitive discussion is greater than the affective discussion. This means that people should debate ideas and not personalities, they should refute ideas and not take it personally. Although, some level of passion is good.</br></br>

Try to foster a little bit of conflict. You don't want insufficient candor</br></br>

Be careful of a hub and spoke model in which everyone is only addressing the boss, trying to convince that person instead than the whole team</br></br>

Don't get stuck discussing the details, rather than the larger themes</br></br>

To assess whether discussions are good or not:</br>
1. Are people just repeating the same argument just more adamantly</br>
2. Did people stop asking questions and trying to understand the other's point of view</br>
3. Did arguments start getting personal</br></br>

Common objective helps</br></br>

Make sure you have all possible options on the table</br></br>

Have group A write a 10 page document defending B's argument and do the same for B. This will create empathy and understanding of the other perspective</br></br>

A usual problem is trying to cover to much in the agenda</br></br>

Good questions to discuss respectfully:</br>
1. Help me understand why you say this</br>
2. Why not consider these other options</br>
3. What if</br>
4. What would you do if you were in my shoes (empathize)</br>
5. What makes that optimal</br></br>

Creativity and brainstorming</br></br>

Be careful of strong mental models that impede creativity. i.e. The old photography companies used to sell cameras really cheap and then make money by selling film. When someone suggested selling digital cameras, they told these people to go away because we only make money with film, not hardware.</br></br>

Aristotle: "We are what we repeatedly do, therefore, excellence is nothing but habits"</br></br>






