Hindsight bias
<script async src="https://static.medium.com/embed.js"></script><a class="m-story" href="https://medium.com/@martinezovelar/testing-91a813776e8c" id="test" style="heigh:100px; height:100px; background-color:100px;"></a>