<div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-5" id="pm-core-container">
          <%= link_to "Shared experiences", {controller: 'controler', action: 'finance'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Reveal your character", {controller: 'fourth', action: 'reveal'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Common goals", {controller: 'controler', action: 'finance'}, {class:'btn btn-primary btn-block', id:'core-button'} %>
           <%= link_to "Qualifications (Ethos)", {controller: 'controler', action: 'finance'}, {class:'btn btn-primary btn-block', id:'core-button'} %>

        </div>
        <div class="col-md-3">
        </div>
      </div>