#phase-button{

  margin-bottom: 3px;

  text-align: center;
}

#pm-core-container{
 padding-left: 0px;
  padding-right: 0px;
}

.header{
  height:100px;
}

.header-home{
  height:100px;
}

#phase-container{
  padding-right: 3px;
  padding-left: 0px;
}

#first-container{
  border-color: blue;
  border-style: solid;
  padding-top: 20px;
  padding-bottom: 20px;
}

#second-container{
  border-color: blue;
  border-style: solid;
  padding: 20px;

}

#third-container{
  border-color: blue;
  border-style: solid;
  padding: 20px;
}

#personal-finance-row{

  padding-top: 20px;
}

#personal-row{

  padding-top: 20px;
}