#phase-button{

  margin-bottom: 3px;
  text-align: center;
  background-color: #051E55;
  border-color: transparent;
}

#core-button{
  background-color: #051E55;
}

#finance-core-button{
     background-color: #69A102;
     border-color: transparent;
}

#personal-core-button{
  background-color: #BD5945;
  border-color: transparent;

}

#pm-core-container{
 padding-left: 0px;
  padding-right: 0px;
}


.header-home{
  height:50px;
  border-bottom-color: black;
  padding-left: 10px;
  padding-top: 4px;
}

#phase-container{
  padding-right: 3px;
  padding-left: 0px;
}

#first-container{
  border-color: transparent;
  border-style: solid;
  padding: 20px;
  background-color: transparent;

}

#second-container{
  border-color: transparent;
  border-style: solid;
  padding: 20px;
  padding-top: 0px;
  background-color: transparent;

}

#third-container{
  border-color: transparent;
  border-style: solid;
  padding: 20px;
  padding-top: 0px;
  background-color: transparent;
}

#personal-finance-row{

  padding-top: 20px;
}

#personal-row{

  padding-top: 20px;
}

#test{

  height:100px;
  width:100px;
  background-color:red;
}